/*
Eu vou adicionar funcionalidades com Javascript para o texto do input
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: #23242a;
    margin-top: 100px;
    color: white;
}

.box {
    position: relative;
    width: 380px;
    height: 420px;
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.form {
    position: absolute;
    inset: 2px;
    z-index: 3;
    border-radius: 8px;
    background-color: #28292d;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
}

.form h2 {
    color: #45f3ff;
    font-weight: 500;
    text-align: center;
    letter-spacing: .1em;
}

.inputbox {
    position: relative;
    width: 300px;
    margin-top: 25px;
}

.inputbox span {
    display: inline-block;
    position: relative;
    top: -45%;
    z-index: -1;
}
.inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    color: white;
    border: none;
    border-bottom: 3px solid #45f3ff;
    background-color: transparent;
}
.inputbox input:focus + span{
    visibility: hidden;
}

.links {
    margin-bottom: 10px;
}
.links a{
    color: white;
   text-decoration: none;
    margin-right: 30px;
}

input[type="submit"] {
    display: block;
    width: 100px;
    padding: 10px 20px;
    background-color: #45f3ff;
    border-radius: 4px;
    border: none;
    transition: all .1s ease-out;
}
input[type="submit"]:active {
    box-shadow: 0 0 10px #45f3ff, 
                0 0 20px #45f3ff;
}